.searchbar {
	text-align: center;
	background-image: url("./assets/food-background.jpg");
	background-color: #000;
	background-size: cover;
	
	height: 70vh;

	.sorting {
		border-bottom: 2px solid rgba(255, 255, 255, 0.5);
		width: 40%;
		margin: auto;
		display: flex;
		justify-content: space-around;
		padding-top: 20vh;

		button {
			background-color: transparent;
			border: none;
			padding: 10px 30px;
			text-shadow: 1px 1px 2px #000;
		}
	}

	.searchbars {
		margin-top: 25px;
		input {
			text-align: left;
			margin: 20px;
			padding: 10px 25% 10px 10px;
			background-color: #eee;
			border-radius: 5px;
		}
	}

	#submitButton {
		background-color: #82aef5;
		margin-top: 20px;
		padding: 10px 40px;
		border-radius: 3px;
		border: none;
	}
}